{% extends "base.twig" %}

{% block body %}
    <h1>При отправке сообщения произошла ошибка. Пожалуйста сообщите разработчикам</h1>
    <div style="color: white;background-color:DarkRed; text-align:center;font-weight: bold;">{{error}}</div><br>

{% endblock %}